#AnotherBox {
  background-color: #F0F5FA;
  width: 100%;
  /* height: 40%; */
  margin-bottom: 0%;


}

#TweetInput {
  width: 80%;
  margin-left: 5%;
}

#semanticTweetBox {
  height: 100%;
  margin-top: 0%;
  padding-top: 0%;

}

#Tweet {
  width: 13%;
  margin-left: 80%;
  margin-bottom: 10%;
}
