 #whoToFollow {

   background-color: white;
   padding: 5%;

 }

 #disclaimer {
   padding: 5%;


   background-color: white;

 }


 /* #followLine {
   position: relative;
   top: 125px;
 } */

 /* #findPeople {
  position: relative;
  top: 130px;
  left: 5px;
}

#adds {
  position: relative;
  bottom: 10px;
} */
