<div id="whoToFollow">
  <h3>Who To Follow <span>&#183;</span> </h3>

  <a id="refresh">Refresh <span>&#183;</span> </a>
  <a id="viewAll">view all</a>
  <hr id="followLine">
  <a id="findPeople"> <i class="users icon"></i>Find people you know</a>
</div>

<div id="disclaimer">
  <p>© 2018 Twitter About Help Center Terms Privacy policy Cookies Ads
    info Brand Blog Status Apps Jobs Marketing Businesses Developers</p>
  <hr>

  <br>
  <a id="adds"><i class="external square alternate icon"></i>Advertise with Twitter</a>
</div>
