<div id="nav-container" class="ui borderless menu">

  <a class="item"> <i class="home icon"> </i>Home</a>
  <a class="item"><i class="bolt icon"></i>Moments</a>
  <a class="item"> <i class="bell icon"> </i>Notifications</a>
  <a class="item"> <i class="envelope icon"> </i>Messages</a>

  <div class="right menu">
    <i class="blue twitter large icon"></i>

  </div>
  <div class="right menu">
    <div class="item">
      <div class="ui icon input">
        <input type="text" placeholder="Search Twitter">
        <i class="search link icon"></i>

      </div>
    </div>
    <button class="blue ui tiny circular fluid button">Tweet</button><br>
  </div>
</div>
