<div class="ui container equal width grid" id="communication">
  <div class="static-logged-out communication-block ui container column">
    <div class="ui huge list">

      <div class="ui item">
        <i class="search icon"></i>
        <div class="content">Follow your interest.</div>
      </div><br>
      <div class="ui item">
        <i class="users icon"></i>
        <div class="content">Hear what people are talking about.</div>
      </div><br>
      <div class="ui item">
        <i class="comment outline icon"></i>
        <div class="content">Join the conversation.</div>
      </div>

    </div>
  </div>
  
  <div class="static-logged-out utility-block column">
    <form class="ui large form">
      <div class="two fields">
        <div class="field">
          <label></label>
          <input placeholder="Phone, email, username" type="text">
        </div>
        <div class="field">
          <label></label>
          <input placeholder="Password" type="text">
        </div>
        <button class="blue basic ui circular button"><b>Login</b></button>
      </div>
    </form>
    <i class="twitter huge icon"></i>
    <h1 class="">See what's happening in the world right now</h1><br>
    <h3 class="">Join Twitter today.</h3>
    <button class="blue ui circular fluid button">Sign Up</button><br>
    <button class="blue basic ui circular fluid button"><b>Log in</b></button>
  </div>
</div>

<div class="ui small fluid borderless menu" id="footer">
  <!-- <a class="item">About</a>
  <a class="item">Help Center</a>
  <a class="item">Blog</a>
  <a class="item">Status</a>
  <a class="item">Jobs</a>
  <a class="item">Terms</a>
  <a class="item">Privacy Policy</a>
  <a class="item">Cookies</a>
  <a class="item">Ads info</a>
  <a class="item">Brand</a>
  <a class="item">Apps</a>
  <a class="item">Advertise</a>
  <a class="item">Marketing</a>
  <a class="item">Business</a>
  <a class="item">Developers</a>
  <a class="item">Directory</a>
  <a class="item">Settings</a> -->
  <a class="item">@2018 Twitter</a>
</div>

