html, body {
  min-height: 100%;
}

/* .static-logged-out {
  margin: 0%;
  height: auto;
} */

.communication-block, .blue-btn{
  background-color: rgb(39, 118, 197);
  color: white;
  height: fill;
  width: 100%;
}

.utility-block {
  margin: 5% 0;
}

.twitter {
  color: rgb(39, 118, 197);
}

