html,
body {
  min-height: 100%;
}

.communication-block,
.blue-btn {
  background-color: #1DA1F2;
  color: white;
  height: fill;
}

.utility-block {
  margin: 5% 0;
}

.twitter {
  color: #1DA1F2;
}

#footer {
  position: fixed;
  bottom: 0;
}

#communication {
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  top: -20px;
  left: 40px;
}

.ui-item {
  position: relative;
  top: 250px;
  left: 100px;
}

#container-coloumn {
  position: relative;
  right: 145px;
}

.item {
  color: lightgray;
  fill-opacity: 50%;
}

#loginbtn {
  position: relative;
  left: 260px;
  top: 50px;
}

#large-signup {
  width: 75%;
  background-color: #1DA1F2;
}

#large-login {
  width: 75%;
  color: #1DA1F2;
}
