<body>
  <app-nav-bar></app-nav-bar><br>
  <div class="ui grid">
    <div class="four wide column">
      <app-mini-profile></app-mini-profile>
    </div>
    <div class="eight wide column">
      <app-all-tweets></app-all-tweets>
    </div>
    <div class="four wide column">
      <app-who-to-follow></app-who-to-follow>
    </div>
  </div>


  <div id="tweetHolder">

    <div id="tweetHere">
      <div id="Tweet" class="ui input">
        <input type="text" placeholder="What's happening?">
        <i id="userIcon" class="user big grey circle icon"></i>
      </div>
      <div id="noTweets">
        <h1 class="noTweets">What? No Tweets yet?</h1>
        <h4 class="noTweets"> This empty timeline won’t be around for long.<br> Start following people and you’ll see
          Tweets
          show up here.
        </h4>
        <button id="loginbtn" (click)="login()" class="blue ui circular button"><b>Find people to follow</b></button>
      </div>


    </div>
  </div>

</body>
