<div id="whitecard" class="ui card">
  <div class="image">
    <img id="blu" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK5HApO7KfX1o0_xZGutevYvSXF4QBRi8L6o5yjhQ0Ag7InRdK">
  </div>
  <div class="content">
    <!-- <i id="profileCircle" class="circle outline huge icon"></i> -->

    <a class="header">{{ user.name }}</a> <!--{{user.name}}-->
    <a class="header">@{{ user.username }}</a> <!--{{user.username}}-->
    <div class="meta">
      <span class="date">September 2018</span> <!--{{this.Date}} commented out error compiling-->
    </div><br>
    <div class="ui grid">
      <div class="three column row">
        <div class="column">
          <a>
            <h4 class="ui header">Tweets</h4>
            <i class="ui header">4</i> <!-- {{tweets}} -->
          </a>
        </div>
        <div class="column">
          <a>
            <h4 class="ui header">Following</h4>
            <i class="ui header">{{user.following.length}}</i>
          </a>
        </div>
        <div class="column">
          <a>
            <h4 class="ui header">Followers</h4>
            <i class="ui header">{{user.followers.length}}</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
