
<div class="ui card">
  <div class="image">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSK5HApO7KfX1o0_xZGutevYvSXF4QBRi8L6o5yjhQ0Ag7InRdK">
  </div>
  <div class="content">
    <a class="header">User's Name Here</a>  <!--{{user.name}}-->
    <div class="meta">
      <span class="date">@usernameHere</span>  <!--{{user.username}}-->
    </div><br>
    <div class="ui grid">
      <div class="three column row">
        <div class="column">
          <a>
            <h4 class="ui header">Tweets</h4>
            <i class="ui header">No. of T</i>  <!--{{tweets}}-->
          </a>
        </div>
        <div class="column">
          <a>
            <h4 class="ui header">Following</h4>
            <i class="ui header">No. of F</i>
          </a>
        </div>
        <div class="column">
          <a>
            <h4 class="ui header">Followers</h4>
            <i class="ui header">No. of F</i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
